



.slick-slider {
    position: relative;
  }

  // .slick-center > div {
  //   width: 100%;
  //   opacity: 1;
  // }
  .slick-slide:not(.slick-center) {
    opacity: 0.5;
 }
  .slick-slide{
    transform: scale((0.8));
    // padding: 20px 0px;
    width: 100%;
  } 
  /* Customize carousel slides */
  .slick-slide img {
   
    // opacity: 0.5;
    // height: 40;
   width: 100%;
    // margin: 0 auto;
    
  }
  
  /* Customize previous and next buttons */
  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5); /* Add opacity to buttons */
    border: none;
    cursor: pointer;
    padding: 1px 0;
    border-radius: 50%;
  }
  
  .slick-prev {
    left: 22%;
    background-color: none;

  }
  
  .slick-next {
    right: 22%;
    background-color: none;
  }
  
  /* Customize previous and next arrow icons */
 
  
  /* Customize arrow icons position */
 
  
  /* Customize dots */
  .slick-dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
  
  /* Customize dot indicators */
  .slick-dots li {
    display: inline-block;
    margin: 0 5px;
  }
  
  /* Customize dot style */
  .slick-dots li button {
    font-size: 0; /* Hide dot button text */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5); /* Change dot color */
    border: none;
    cursor: pointer;
  }
  
  /* Customize active dot */
  .slick-dots li.slick-active button {
    background-color: rgba(0, 0, 0, 0.8); /* Change active dot color */
  }


  /* BannerCarousel.css */

